

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1"	, initial-scale=1.0">
        <title>Quaestio</title>
        <link rel="stylesheet" href="./styles/reset.css">
        <link rel="stylesheet" href="./styles/game.css">
        <link rel="stylesheet" href="./styles/math.css">
        <script type="module" src="./js/controller.js"></script>
    </head>
    <body>
    <%- include("partials/header"); -%>
   <h1>Result: 12</h1>
   <div class="game-body">
    
   </div>
</body>
</html>