.game-info{
    display: flex; 
     margin-bottom: 2rem;
    /* font-size: 1.5rem; */
    justify-content: space-between;
    text-transform: uppercase;
    color: rgb(62, 33, 90);
}

.game-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid rgb(252, 252, 252); */
    /* box-shadow: 2px 2px 4px 4px red; */
    gap: 1rem;
    width: fit-content;
    margin: auto;
    padding: 1rem 2.5rem;
}

.disable-game{
    opacity: .5;
    pointer-events: none;
}

.target-number{
    font-size: 1.5rem;
}

.display-field-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.display-field{
    height: 40px;
    width: 300px;
    background-color: whitesmoke;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    color: black;
    padding: .5rem;

}

.delete-btn{
    padding: .5rem 1.5rem;
    background-color: rgb(46, 46, 46);
    color: white;
    border: 0;
    cursor: pointer;
}

.available-numbers{
    display: flex;
    justify-content: space-between;
    gap: 1rem
    }

.available-numbers a{
    margin: 0 .2rem;
    padding: .5rem 1.4rem;
    background-color: rgb(193, 189, 189);
    display: block;
    text-decoration: none;
    color: rgb(64, 64, 64);
    border-radius: 2px;
    min-width: 55px;

}

.sm{
    display: flex;
}

.math-operations  {
    display: flex;
}

a{
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

a:hover{
    transform: scale(1.1);
}

.math-operations  a{
    display: block;
    margin: 0 .2rem;
    padding: .5rem 1.4rem;
    background-color: rgb(217, 212, 212);
    text-decoration: none;
    color: rgb(64, 64, 64);
    border-radius: 2px;
    min-width: 55px;
}

.confirm-btn{
    padding: .5rem 1.5rem;
    border: 0;
    align-self: stretch;
    background-color: rgb(100, 64, 232);
    color: white;
    cursor: pointer;
}

.disable-btn{
    pointer-events: none;
    opacity: .5;
}

/*++++++++++++++++++++++ LOGIC GAME  ++++++++++++++++++++++ */

.logic-game-wrap{
    display: flex;
    gap: .3rem;
}

.display-wrap{
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.input-buttons-wrap{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}


.row{
    display: flex;
    gap:.5rem;
    background-color: rgb(64, 25, 25);
    padding: 5px;
    border-radius: 5px;
}

.row:nth-child(6){
    margin-bottom: 1rem;
}

.row div{
    width: 40px;    
    height: 40px;
    background-color: rgb(194, 188, 188);
}

.row div:nth-child(4):not(.input-btn){
    margin-right: 2rem;
}

.user-input{
    border-radius: 2px;
}

.result-field{
    border-radius: 50%;
}

.input-btn{
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.input-btn:hover{
    scale: 1.1;
}

.input-btn:nth-child(1){
    background-image: url("../assets/star.png");
}

.input-btn:nth-child(2){
    background-image: url("../assets/heart.png");
}

.input-btn:nth-child(3){
    background-image: url("../assets/clubs.png");
}

.input-btn:nth-child(4){
    background-image: url("../assets/diamond.png");
}

.input-btn:nth-child(5){
    background-image: url("../assets/spades.png");
}

