@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto&family=Tilt+Prism&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }
 
  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: whitesmoke;
    padding: 1rem;

  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

.nav-list{
  display:flex;
  list-style-type: none;
  gap: .5rem;
}

.nav-link{
  text-decoration: none;
  color: white;
}

.nav-username{
  margin-right: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}